/* خلفية الصفحة */
.body{
    background-image: linear-gradient(rgb(250, 106, 255),rgb(252, 32, 204));
    width: 100%;
    height: 100vh;
    font-family: 'Amiri', serif;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

/* الكارت */
.start{
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 500px;
    border-radius: 20px;
    padding: 40px 20px;
    height: 520px;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

/* العنوان الإنجليزي */
h3{
    font-family: 'Playfair Display', serif;
    font-size: 24px;
}

/* النص العربي */
p{
    font-size: 18px;
}

/* input */
.text{
    border: solid rgb(253, 108, 253) 1px;
    border-radius: 20px;
    padding: 12px;
    text-align: center;
    font-family: 'Amiri', serif;
    font-size: 16px;
    width: 80%;
    margin: 3px;
}

/* زرار (مطبق على الكل) */
button{
    padding: 12px 28px;
    border: none;
    border-radius: 30px;
    background: linear-gradient(135deg, #c97a7a, #f2b5b5);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-family: 'Amiri', serif;
}

button:hover{
    transform: translateY(-2px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

/* اللوتي */
.loveu{
    transform: translateY(20px);
}

.pos{
    position: absolute;
    right: 5px;
    top: 10px;
}

/* باسورد غلط */
.wrong{
    border: 2px solid red !important;
    animation: shake 0.3s;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}
.kitty{
    width: 120px;
    animation: wiggle 1.8s infinite;
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
    25% { transform: rotate(-5deg); }
    50% { transform: rotate(5deg); }
    75% { transform: rotate(-5deg); }
    100% { transform: rotate(0deg); }
}
.pos1{
    position: absolute;
    bottom: 0px;
}